<div class="oj-hybrid-padding ">
    <h1>Atencion Incidencia N° <oj-bind-text value="{{num_incidencia}}"></oj-bind-text>
    </h1>

    <div id="accordionPage" data-oj-binding-provider="none">
        <oj-accordion id="a1">

            <oj-collapsible id="c1" expanded>
                <h3 slot="header">Datos de la persona atendida</h3>
                <div class="oj-flex">

                    <div class="oj-md-3 oj-sm-12 oj-flex-item oj-sm-padding-2x">
                        <p>Nombre</p>
                        <div class="oj-typography-subheading-xs">
                            <oj-bind-text value="{{usuarioAtendido().nombre}}"></oj-bind-text>
                        </div>
                    </div>

                    <div class="oj-md-3 oj-sm-12 oj-flex-item oj-sm-padding-2x">
                        <p>Numero de contacto</p>
                        <div class="oj-typography-subheading-xs">
                            <oj-bind-text value="{{usuarioAtendido().num_contacto}}"></oj-bind-text>
                        </div>
                    </div>

                    <div class="oj-md-3 oj-sm-12 oj-flex-item oj-sm-padding-2x">
                        <p>Correo Institucional</p>
                        <div class="oj-typography-subheading-xs">
                            <oj-bind-text value="{{usuarioAtendido().correoInstitucional}}"></oj-bind-text>
                        </div>
                    </div>

                    <div class="oj-md-3 oj-sm-12 oj-flex-item oj-sm-padding-2x">
                        <p>Correo Personal</p>
                        <div class="oj-typography-subheading-xs">
                            <oj-bind-text value="{{usuarioAtendido().correoPersonal}}"></oj-bind-text>
                        </div>
                    </div>

                    <div class="oj-md-3 oj-sm-12 oj-flex-item oj-sm-padding-2x">
                        <p>Matricula</p>
                        <div class="oj-typography-subheading-xs">
                            <oj-bind-text value="{{usuarioAtendido().matricula}}"></oj-bind-text>
                        </div>
                    </div>

                    <div class="oj-md-3 oj-sm-12 oj-flex-item oj-sm-padding-2x">
                        <p>Campus</p>
                        <div class="oj-typography-subheading-xs">
                            <oj-bind-text value="{{usuarioAtendido().campus}}"></oj-bind-text>
                        </div>
                    </div>

                    <div class="oj-md-3 oj-sm-12 oj-flex-item oj-sm-padding-2x">
                        <p>Licenciatura</p>
                        <div class="oj-typography-subheading-xs">
                            <oj-bind-text value="{{usuarioAtendido().licenciatura}}"></oj-bind-text>
                        </div>
                    </div>

                    <div class="oj-md-3 oj-sm-12 oj-flex-item oj-sm-padding-2x">
                        <p>Tipo de usuario</p>
                        <div class="oj-typography-subheading-xs">
                            <oj-bind-text value="{{usuarioAtendido().tipo_usuario}}"></oj-bind-text>
                        </div>
                    </div>
                </div>

            </oj-collapsible>

            <oj-collapsible id="c2">
                <h3 slot="header">Datos de la persona que atendio</h3>
                <div class="oj-flex">
                    <div class="oj-sm-4 oj-flex-item oj-sm-padding-2x-horizontal">
                        <p>Nombre</p>
                        <div class="oj-typography-subheading-xs">
                            <oj-bind-text value="{{administrativo().nombre}}"></oj-bind-text>
                        </div>
                    </div>
                    <div class="oj-sm-4 oj-flex-item oj-sm-padding-2x-horizontal">
                        <p>N° Expediente</p>
                        <div class="oj-typography-subheading-xs">
                            <oj-bind-text value="{{administrativo().numExpediente}}"></oj-bind-text>
                        </div>
                    </div>
                    <div class="oj-sm-4 oj-flex-item oj-sm-padding-2x-horizontal">
                        <p>Nombre</p>
                        <div class="oj-typography-subheading-xs">
                            <oj-bind-text value="{{administrativo().correoInstitucional}}"></oj-bind-text>
                        </div>
                    </div>
                </div>
            </oj-collapsible>

            <oj-collapsible id="c3">
                <h3 slot="header">Datos generales</h3>
                <div class="oj-flex">
                    <div class="oj-md-3 oj-sm-12 oj-flex-item oj-sm-padding-2x">
                        <p>Fecha de inicio de atención</p>
                        <div class="oj-typography-subheading-xs">
                            <oj-bind-text value="{{datosGenerales().fecha_inicio}}"></oj-bind-text>
                        </div>
                    </div>

                    <div class="oj-md-3 oj-sm-12 oj-flex-item oj-sm-padding-2x">
                        <p>Estatus</p>
                        <div class="oj-typography-subheading-xs">
                            <oj-bind-text value="{{datosGenerales().estatus}}"></oj-bind-text>
                        </div>
                    </div>

                    <div class="oj-md-3 oj-sm-12 oj-flex-item oj-sm-padding-2x">
                        <p>Tipo de atención</p>
                        <div class="oj-typography-subheading-xs">
                            <oj-bind-text value="{{datosGenerales().tipo_atencion}}"></oj-bind-text>
                        </div>
                    </div>

                    <div class="oj-md-3 oj-sm-12 oj-flex-item oj-sm-padding-2x">
                        <p>Asunto</p>
                        <div class="oj-typography-subheading-xs">
                            <oj-bind-text value="{{datosGenerales().asunto}}"></oj-bind-text>
                        </div>
                    </div>
                    
                    <oj-bind-if test="[[datosGenerales().estatus === 'finalizada' ]]">
                        <div class="oj-md-3 oj-sm-12 oj-flex-item oj-sm-padding-2x">
                            <p>Fecha de final de atención</p>
                            <div class="oj-typography-subheading-xs">
                                <oj-bind-text value="{{datosGenerales().fecha_fin}}"></oj-bind-text>
                            </div>
                        </div>
                    </oj-bind-if>

                    <div class="oj-md-6 oj-sm-12 oj-flex-item oj-sm-padding-2x">
                        <p>Observaciones</p>
                        <div class="oj-typography-subheading-xs">
                            <oj-bind-text value="{{datosGenerales().observacion}}"></oj-bind-text>
                        </div>
                    </div>
                </div>
            </oj-collapsible>

        </oj-accordion>
    </div>
</div>